table,td{
    border: 1px solid black;
}
table{
    padding-top: 20px;
}

th{
    padding: 10px;
}

td{
    width: 200px;
    height: 200px;
    text-align: center;
}

td,#Reset,#changePlayer{
    cursor: pointer;
}
